* {
    left: 0;
    top: 0;
    right: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-y: none;
    scroll-behavior: smooth;
}

ul {	
    padding: 0;
}

li {
	display: inline-block;
}

.navigation {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    background: rgba(77,182,172,0.9);
    box-shadow: 10px 10px 5px rgba(136, 136, 136, 0.2);
}

#neeche {
    margin-top: 130px;
    position: relative;
    z-index: 1;
    margin-left: 50px;
    margin-right: 50px;
}

#neeche1 {
    margin-top: 10px;
    position: relative;
    z-index: 1;
    margin-left: 50px;
    margin-right: 50px;
}

header {
    position: fixed;
    z-index: 500;
    transition: top 0.2s ease-in-out;

}

.nav-up
{
    top: -113px;    
}

.nav-down
{
    top:0;
}
.logo {
    flex: 1;
}

.drop {
    margin-top: 40px;
}

.drop_menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 50px;
}

.drop_menu li a {
    padding: 9px 20px;
    display: block;
    color: #fff;
    text-decoration: none;
}

.drop_menu ul {
    position: absolute;
    left: -9999px;
    top: -9999px;
    list-style-type: none;
}

.drop_menu li:hover { 
    position: relative; 
    background: rgb(0,151,167); 
}

.drop_menu li:hover ul {
    left: 0px;
    top: 40px;
    background: rgb(0,151,167); 
    padding: 0px;
}

.drop_menu li:hover ul li {
    padding: 1px 1px 1px 1px;
    display: block;
    background: rgba(0,151,167,0.5); 
}

.drop_menu li:hover ul li a:hover {
    background: rgba(255,255,255,0.5); 
}

.drop_menu li:hover ul li a {
    padding-bottom: 0;
}

footer {
    height: 100px;  
    width: 100%;
    background: rgb(36, 39, 41);
}

address {
    margin-left: 50px;
    padding-top: 43px;
    color: #efefef;
}

.selected {
    background: rgb(0,151,167);
}

.contact_heading {
    vertical-align: middle;
}

input {
    width:300px;
}

textarea {
    width:300px;
}

#left_div {
    flex: 1;
}

#contact_table tr {
    border-color: transparent;
}

#logo_div {
    display: flex;
}

#parikshit_logo img {
    margin-left: 20%;    
    margin-top: 45%;
}

#manipal_logo img {
    margin-right: 20%;    
    margin-top: 45%;
    width: 150px;
    height: 150px;
}

.subsystem {
    display: inline-block;
}

.team_div {
    float: left;
    padding-left: 50px;
    padding-right: 50px;
}

.team_div img {
    width: 300px;
    height: 300px;
    border-radius: 300px; 
}

.team_div_subs {
    float: left;
    padding-left: 30px;    
}

.team_div_subs img {
    width: 200px;
    height: 200px;
    border-radius: 200px; 
}

.grid_images {
    width: 275px;
    height: 275px;
    padding: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
}

.grid_images:hover {
    opacity: 0.5;
}

.subs_div_left {
    display: flex;
    padding-left: 20px;
}

.img_div_left {
    flex: 1;
    padding-left: 20px;
} 

.subs_div_right {
    display: flex;
    padding-right: 20px;
}

.img_div_right {
    flex: 1;
    padding-right: 20px;
}

.subs_list {
    list-style-type: square;
    display: list-item;
}

#parallax1
{
    background-image: url("../uploads/slide1.jpg");
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#parallax2
{
    background-image: url("../uploads/slide3.jpg");
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax3
{
    background-image: url("../uploads/slide5.jpg");
    min-height: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#starryskydiv
{
    width: 100%;
    height: 900px;
    overflow: hidden;

}
#starryskyimg
{
    width: 120%;
    height: 120%;
    z-index:-1;
    margin-left: -80px;
    margin-top: -40px;
}

#parikshit-logo
{
    position: absolute;
    margin: auto;
    top: 40px;
    left: 0;
    right: 700px;
    bottom: 600px;
    height: 150px;
}

#starryskytext
{
    position:absolute;
    margin: auto;
    top: 200px;
    left: 50px;
    right: 700px;
    bottom: 600px;
    text-align: center;
    color: #eeeeee;
}

.home-ul
{
    list-style-type: circle ;
    display:list-item;
}

.hide
{
    visibility: hidden;
}

#loading {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background: url('../uploads/loading.gif') no-repeat center center;
}

/*@media (min-width: 992px) {
    .col-md-4 {
    float: left;
}

.col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: 20px;
*/

.row {
  padding-bottom: 40px; 
}

.span4 {
    display: block;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    margin-top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 275px;
    display: none;  
}
.span4:hover .overlay {
    display: block;
    z-index: -1;
}

#cont {
    margin-top: 120px;
    z-index: 1;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
}

.below_text {    
    width: 100px;
    margin-top: -15px;
    margin-left: 5px;
    margin-bottom: 30px;
    min-height: 2px;
    background-color: #B0BEC5;
}

.headings {
    margin-top: 69px;    
}

h2 {
    font-weight: 400;
    color: #616161;
}

.subs_list_1 {
    padding-left: 30px;
    list-style-type: circle;
    display: list-item;
}

.subs_list_2 {
    padding-left: 50px;
    list-style-type: disc;
    display: list-item;
}