* {
    left: 0;
    top: 0;
    right: 0;
}

body {
    height: 100%;
    width: 100%;
    font-family: "Raleway";
}

.page-header {
    background-color: rgb(179,229,252);
    padding-top: 23px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 10px 10px 5px rgba(136, 136, 136, 0.2);
}

.login_div {
  background-color: rgba(245,245,245,0.9);
	margin-top: 120px;
	margin-left: 400px;
	margin-right: 400px;
	padding-top: 30px;
	padding-bottom: 25px;
	border: 1px solid black;
	border-radius: 20px;
}

.login_heading {
    text-align: center;
}

.login_table tr {
    border-color: transparent;
}

.instruction_div {
  background-color: rgba(128,222,234,0.4);
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 25px;
  border: 1px solid black;
  border-radius: 20px;
}

th, td {
  padding: 12px 15px;
  text-align: left; 
}
th:first-child, td:first-child {
  padding-left: 0; 
}
th:last-child, td:last-child {
  padding-right: 0; 
}

table {
	margin-bottom: 2.5rem;
	margin: auto;
	border: 1px black;
}

#start_button {
  position: relative;
  margin-top: 10px;
}

.start {
  margin-left:1045px; 
  margin-bottom:20px;
  background: transparent;
}

.start :hover {
  background-color: rgb(200,200,200);
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */



  /* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

  /* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

  /* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 10px;
  margin-top: 0px; 
}
ul ul,
ul ol,
ol ol,
ol ul {
  /*margin: 1.5rem 0 1.5rem 3rem;*/
  font-size: 90%; }
li {
  margin-bottom: 1rem; }

  /* Clock
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#clockdiv {
  position: absolute;
  margin-top: 7px;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
    padding: 5px;
    border-radius: 3px;
    background: rgb(179,229,252);
    display: inline-block;
}

#clockdiv div > span {
    padding: 10px;
    border-radius: 3px;
    background: rgb(77,208,225);
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

ul.products li {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 350px;
    padding: 70px;
}

button, input[type="submit"] {
    background-color: rgb(0,188,212);
    border-radius: 4px;
    height: 38px;
    padding: 0 30px;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #00BCD4;
}

button:hover, input[type="submit"]:hover, .item_button:hover {
    background-color: rgb(0,188,212);
    color: black;
}

.item_button {
    height: 341.2px;
    width: 240px;
    padding: 2px;
    border-radius: 4px;
    border: none;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #00BCD4;
}

.hide {
  display: none;
}

.question_div {
  display: block;
  position: absolute;
  margin-top: 12%;
  margin-left: 20%;
  margin-right: 20%;
}

.finish_button {
  margin-left: 85%;
}

input[type=radio] {     
 padding-left: 100px; 
}